<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Inventory Stock</title>
</head>
<body>

<div layout:fragment="content">

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Current Stock</h6>
            <a th:href="@{/inventory/receive}" class="btn btn-success btn-sm"><i class="fas fa-truck-loading"></i> Receive Goods</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="stockTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ürün</th>
                            <th>Depo</th>
                            <th>Stok Miktarı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stock : ${stocks}">
                            <td th:text="${stock.id}">ID</td>
                            <td th:text="${stock.item.name}">Item</td>
                            <td th:text="${stock.warehouse.name}">Warehouse</td>
                            <td th:text="${stock.onHand}">On Hand</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>